
/*------------------------------------*\
    #BASIC-STYLING
\*------------------------------------*/
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

html, body {
  
}





/*------------------------------------*\
    #IMAGES
\*------------------------------------*/
img {
  max-width: 100%;
  vertical-align: middle;
}





/*------------------------------------*\
    #FIGURES
\*------------------------------------*/
figure {
  position: relative;
}





/*------------------------------------*\
    #LISTS
\*------------------------------------*/
ul, ol {

}





/*------------------------------------*\
    #HEADINGS
\*------------------------------------*/
h1, h2, h3, h4, h5, h6 {

}





/*------------------------------------*\
    #LINKS
\*------------------------------------*/
a {
  text-decoration: none;
}





/*------------------------------------*\
    #BLOCKQUOTES
\*------------------------------------*/
blockquote {

}





/*------------------------------------*\
    #CODE-FORMATTING
\*------------------------------------*/
pre,
code {
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}





/*------------------------------------*\
    #CLEARFIX
\*------------------------------------*/
%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
