/*------------------------------------*\
    #VARIABLES
\*------------------------------------*/

$display-font: sans-serif;
$text-font: sans-serif;
$small-font-size: .5em;
$body-copy-size: 1em;
$body-copy-line-height: 1.6em;
$spacing-unit: 1em;
$text-color: #FFF;
$brand-color: #29d9c2;
$grey-color: #929292;
$grey-color-light: #CCC;
$white: #FFF;




/*------------------------------------*\
    #CONFIG
\*------------------------------------*/

/* Box Sizing - apply a natural box layout model to all elements, but allowing
  components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
